* {
  font-family: Arial, Helvetica, sans-serif;
}

input {
  border: none;
  border-bottom: 2px solid grey;
}

li {
  list-style: none;
  text-decoration: none;
}

button {
  border: none;
  background-color: white;
}

button:hover {
  text-decoration: underline;
  font-weight: 600;
  color: white;
  background-color: black;
  transition: all 0.5s ease;
}